
{{!-- <div class="container">
	{{# each mon_ans}}
	<div class="row">
		{{# each this}}
  			<div class="col-sm-6 col-md-4">
    			<div class="thumbnail">
      					<img src="{{ this.hinh }}" alt="..." class="img-responsive">
      					<div class="caption">
        					<h3 style="text-align:center">{{ this.ten_mon }}</h3>
        					<p>{{ this.noi_dung_tom_tat }}</p>
        					<div class="clearfix">
								<p class="price pull-left" style="color:red; font-weight:bolder">{{this.don_gia}}vnd</p>
								<a href="/single/{{this.ma_mon}}" class="btn btn-primary pull-right" role="button">Xem chi tiết</a> 
							</div>
      					</div>
  				</div>	
			</div>
  		{{/each}}


	</div>
	{{/each}}
	</div>" --}}

	{{!-- <div class="container"> --}}
			<div class="shoes-grid">
				<a href="#">
					<div class="wrap-in">
						<div class="wmuSlider example1 slide-grid">		 
				   			<div class="wmuSliderWrapper">		  
					   			<article style="position: absolute; width: 100%; opacity: 0;">					
									<div class="banner-matter">
										<div class="col-md-5 banner-bag">
											<img class="img-responsive " src="/images/1.jpg" alt=" " />
										</div>
										<div class="col-md-7 banner-off">							
											<h2>FLAT 50% 0FF</h2>
											<label>FOR ALL PURCHASE <b>VALUE</b></label>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>					
											<span class="on-get">GET NOW</span>
										</div>
						
										<div class="clearfix"> </div>
									</div>
						
					 			</article>		
					 			<article style="position: absolute; width: 100%; opacity: 0;">					
								<div class="banner-matter">
									<div class="col-md-5 banner-bag">
										<img class="img-responsive " src="/images/5.jpg" alt=" " />
									</div>
									<div class="col-md-7 banner-off">							
										<h2>FLAT 50% 0FF</h2>
										<label>FOR ALL PURCHASE <b>VALUE</b></label>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>					
										<span class="on-get">GET NOW</span>
									</div>
							
									<div class="clearfix"> </div>
								</div>
						
					 			</article>
					 			<article style="position: absolute; width: 100%; opacity: 0;">					
									<div class="banner-matter">
										<div class="col-md-5 banner-bag">
											<img class="img-responsive " src="/images/7.jpg" alt=" " />
										</div>
										<div class="col-md-7 banner-off">							
											<h2>FLAT 50% 0FF</h2>
											<label>FOR ALL PURCHASE <b>VALUE</b></label>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>					
											<span class="on-get">GET NOW</span>
										</div>
							
										<div class="clearfix"> </div>
									</div>
						
					 			</article>
						
					 		</div>
						</div>
					</div>
							 
				</a>
	                
					 <script src="/javascripts/jquery.wmuSlider.js"></script> 
				  <script>
	       			$('.example1').wmuSlider();         
	   		     </script> 
	           
	   		      <!---->
	   		    
	   		     <div class="products">
	   		     	<h5 class="latest-product">LATEST PRODUCTS</h5>	
	   		     	  <a class="view-all" href="product.html">VIEW ALL<span> </span></a> 		     
	   		     </div>
		{{#each mon_ans}}
	   		     <div class="product-left">
				
				{{#each this}}
	   		     	<div class="col-md-4 chain-grid grid-top-chain">
					
	   		     		<a href="/single/{{this.ma_mon}}"><img class="img-responsive chain" src="{{this.hinh}}" alt=" " /></a>
	   		     		<span class="star"> </span>
	   		     		<div class="grid-chain-bottom">
	   		     			<h6><a href="/single/{{this.ma_mon}}">{{this.ten_mon}}</a></h6>
	   		     			<div class="star-price">
	   		     				<div class="dolor-grid"> 
		   		     				<span class="actual">{{this.don_gia_khuyen_mai}}</span>
		   		     				<span class="reducedfrom">{{this.don_gia}}</span>
		   		     				  <span class="rating">
									        <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
									        <label for="rating-input-1-5" class="rating-star1"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
									        <label for="rating-input-1-4" class="rating-star1"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
									        <label for="rating-input-1-3" class="rating-star"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
									        <label for="rating-input-1-2" class="rating-star"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
									        <label for="rating-input-1-1" class="rating-star"> </label>
							    	   </span>
	   		     				</div>
	   		     					<a class="now-get get-cart"  onclick="addToCart('{{this._id}}')"  ><span>ADD TO CART</span></a> 
	   		     				<div class="clearfix"> </div>
							</div>
	   		     		</div>
							
	   		     	</div>
				{{/each}}
	   		     	 <div class="clearfix"> </div>		 
				</div>
			 {{/each}}	
			  <hr  width="100%" size="5px" align="center" color="blue" height="12px" /> 
				  <div class="clearfix"> </div>
				
				  <div class="detailBox">
    <div class="titleBox">
      <label>Comment Box</label>
        <button type="button" class="close" aria-hidden="true">&times;</button>
    </div>
    <div class="commentBox">
        
        <p class="taskDescription">Bình luận về món ăn.</p>
    </div>
    <div class="actionBox">
        <ul class="commentList">
            <li>
                <div class="commenterImage">
                  <img src="http://placekitten.com/50/50" />
                </div>
                <div class="commentText">
                    <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                </div>
				<div class="product-col-1">
					<p class="image">
						<div class="avatar-img">
							<span class="avatar-letter">TM</span>
						</div>
					</p>
					<p class="name" itemprop="author">Duong Tien Minh</p>
					<p class="from"><!-- react-text: 55 -->đến từ <!-- /react-text --><span>Lạng Sơn</span></p>
					<p class="days">11 ngày trước</p>
				</div>
            </li>
           
           
        </ul>
        <form class="form-inline" role="form" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="cmt"placeholder="Your comments" />
            </div>
            <div class="form-group">
                <button class="btn btn-default">Add</button>
            </div>
        </form>
    </div>
</div>
			</div>
			
	

	   		   
	   	
	